<p id="notice"><%= notice %></p>
<div>
  物件名:<%= @room.name %>
</div>
<div>
  家賃:<%= @room.rent %>円
</div>
<div>
  住所:<%= @room.address %>
</div>
<div>
  築年数:<%= @room.age %>
</div><div>
  備考:<%= @room.comment %>
</div>
<p>---------------</p>
<% @room.stations.each do |station| %>
  <div>
    最寄り駅:<%= station.name %>
  </div>
  <div>
    路線:<%= station.route %>
  </div>
  <div>
    距離:<%= station.distance %>
  </div>
<% end %>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
